In [1]:
# Celda 1

# Importamos pandas para manipulación de datos
import pandas as pd  # pandas se utiliza para la lectura y manipulación de data frames

# Importamos numpy para operaciones numéricas
import numpy as np   # numpy sirve para trabajar con arreglos y funciones matemáticas

# Importamos matplotlib y seaborn para visualizaciones básicas
import matplotlib.pyplot as plt  # matplotlib permite crear gráficos básicos
import seaborn as sns            # seaborn se basa en matplotlib para gráficos estadísticos

# Configuramos el estilo de los gráficos para que se vean mejor
sns.set(style="whitegrid")       # seteamos un estilo de fondo con cuadrícula suave
plt.rcParams["figure.figsize"] = (10, 6) # establecemos un tamaño por defecto para los gráficos

In [2]:
# Celda 2

# Definimos la ruta de acceso a tu dataset
dataset_path = "../data/tu_dataset.csv"  # Ajusta la ruta según tu estructura de carpetas

# Leemos el CSV usando pandas
df = pd.read_csv(dataset_path)  # pd.read_csv() permite leer archivos CSV en un DataFrame de pandas

# Observamos las primeras filas para verificar que se haya cargado bien
df.head()  # head() muestra las primeras 5 filas del DataFrame

,ID,Fecha,Categoria,Ventas,Clientes,Region,Descuento,Satisfaccion
0,1,2023-01-01 00:00:00,D,92.69,1,Oeste,20,4.7
1,2,2023-01-01 01:00:00,E,219.01,29,Sur,5,3.0
2,3,2023-01-01 02:00:00,C,754.94,4,Oeste,5,4.6
3,4,2023-01-01 03:00:00,E,60.78,23,Norte,15,2.8
4,5,2023-01-01 04:00:00,E,497.61,28,Norte,15,2.1

In [3]:
# Celda 3

# Dimensiones del DataFrame
print("Dimensiones (filas, columnas):", df.shape)  # shape retorna (filas, columnas)

# Información general (tipos de datos, nulos, etc.)
df.info()  # info() muestra información de columnas y tipos

# Estadísticas descriptivas de las variables numéricas
df.describe()  # describe() muestra conteo, media, desviación estándar y percentiles

Dimensiones (filas, columnas): (5000, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            5000 non-null   int64
 1   Fecha         5000 non-null   object
 2   Categoria     5000 non-null   object
 3   Ventas        5000 non-null   float64
 4   Clientes      5000 non-null   int64
 5   Region        5000 non-null   object
 6   Descuento     5000 non-null   int64
 7   Satisfaccion  5000 non-null   float64
dtypes: float64(2), int64(3), object(3)
memory usage: 312.6+ KB

                ID       Ventas     Clientes    Descuento  Satisfaccion
count  5000.000000  5000.000000  5000.000000  5000.000000   5000.000000
mean   2500.500000   495.878712    24.874000     9.925000      3.047260
std    1443.520003   283.588171    14.138858     7.078093      1.162837
min       1.000000    10.030000     1.000000     0.000000      1.000000
25%    1250.750000   251.025000    13.000000     5.000000      2.000000
50%    2500.500000   490.405000    24.000000    10.000000      3.100000
75%    3750.250000   736.010000    37.000000    15.000000      4.025000
max    5000.000000   999.470000    49.000000    20.000000      5.000000